#MPage1 {
margin-left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
}
#MPage1 #MPage1_form {
margin-bottom: 0px;
}
#MPage1 #MPage1_table {
width: 768px;
height: 1024px;
border-width:0;
border-collapse:separate;
}
#MPage1 #MPage1_table td, #MPage1 #MPage1_table th {
padding:0;
vertical-align:top;
}
#MPage1 #MButton1_outer > div{ 
width: 150px;
height: 43px;
} 
