<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id		  = "com.Embarcadero.Project1"
	version   = "1.0.0">
    
	<name>Project1</name>
    
    
	<icon src="icon.png" />
    
    <gap:splash src="splash.png" />
    
    <access origin="*" />
    
	<preference name="phonegap-version" value="1.8.1" />
</widget>
