#PlanetsPage {
margin-left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
}
#PlanetsPage #PlanetsPage_form {
margin-bottom: 0px;
}
#PlanetsPage #PlanetsPage_table {
width: 600px;
height: 400px;
border-width:0;
border-collapse:separate;
}
#PlanetsPage #PlanetsPage_table td, #PlanetsPage #PlanetsPage_table th {
padding:0;
vertical-align:top;
}
#PlanetsPage #Canvas_outer {
z-index: 0;
left: 0px;
width: 600px;
height: 400px;
position: absolute;
top: 0px;

}
